@include breakpoint($movil) { //20em 320px

	// VIDEO
	.video-background {
		.video-foreground {
			height: 100%;
			position: relative;
	    width: 100%;
	    height: 0;
	    padding-bottom: 56.25%;
			.video {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-size: cover;
			} //.video
		} //.video-foreground
	} //.video-background

	// EL PROYECTO
	.fp-proyecto {
		background-color: $lightgreen;
		padding: 2em 1em;
		.fp-proyecto-wrap {
			@include container();
		} //.fp-proyecto-wrap
	} //.fp-proyecto

	// NOTICIAS
	.fp-noticias {
		background-color: $olive;
		padding: 2em 1em;
		.fp-noticias-wrap {
			@include container();
		} //.fp-noticias-wrap
	} //.fp-noticias

		// TESTIMONIOS
	.fp-testimonios {
		background-color: $midgreen;
		padding: 2em 1em;
		.fp-testimonios-wrap {
			@include container();
		} //.fp-testimonios-wrap
	} //.fp-testimonios

	// EJECUTORES PROYECTO
	.fp-ejecutores {
		background-color: $red;
		padding: 2em 1em;
		.fp-ejecutores-wrap {
			@include container();
		} //.fp-ejecutores-wrap
	} //.fp-ejecutores

	// INFORMACIÓN FINAL
	.fp-infofinal {
		background-color: $palewhite;
		padding: 2em 1em;
		.fp-infofinal-wrap {
			@include container();
		} //.fp-infofinal-wrap
	} //.fp-infofinal


} //breakpoint($movil) 20em 320px


@include breakpoint($tablet) { //30em 480px

	/* Front Page ORIGINAL styles */
	.panel-content .wrap {
		padding-bottom: 2em;
		padding-top: 3.5em;
	}
	.page-one-column .panel-content .wrap {
		max-width: 740px;
	}
	.panel-content .entry-header {
		margin-bottom: 4.5em;
	}
	.panel-content .recent-posts .entry-header {
		margin-bottom: 0;
	}

	// EL PROYECTO
	.fp-proyecto {
		background-color: $lightgreen;
		.fp-proyecto-wrap {
			@include container();
		} //.fp-proyecto-wrap
	} //.fp-proyecto

	// NOTICIAS
	.fp-noticias {
		.fp-noticias-wrap {

		} //.fp-noticias-wrap
	} //.fp-noticias

		// TESTIMONIOS
	.fp-testimonios {
		.fp-testimonios-wrap {

		} //.fp-testimonios-wrap
	} //.fp-testimonios

	// EJECUTORES PROYECTO
	.fp-ejecutores {
		.fp-ejecutores-wrap {

		} //.fp-ejecutores-wrap
	} //.fp-ejecutores

	// INFORMACIÓN FINAL
	.fp-infofinal {
		.fp-infofinal-wrap {

		} //.fp-infofinal-wrap
	} //.fp-infofinal

} //breakpoint($tablet) 30em 480px


@include breakpoint($laptop) { //48em 768px
	/* Front Page ORIGINAL styles */
	.pleiadesmoon-front-page.has-header-image .site-branding,
	.pleiadesmoon-front-page.has-header-video .site-branding,
	.home.blog.has-header-image .site-branding,
	.home.blog.has-header-video .site-branding {
		margin-bottom: 70px;
	}
	.pleiadesmoon-front-page.has-header-image .custom-header-media,
	.pleiadesmoon-front-page.has-header-video .custom-header-media,
	.home.blog.has-header-image .custom-header-media,
	.home.blog.has-header-video .custom-header-media {
		height: 1200px;
		height: 100vh;
		max-height: 100%;
		overflow: hidden;
	}
	.pleiadesmoon-front-page.has-header-image .custom-header-media:before,
	.pleiadesmoon-front-page.has-header-video .custom-header-media:before,
	.home.blog.has-header-image .custom-header-media:before,
	.home.blog.has-header-video .custom-header-media:before {
		height: 33%;
	}
	.admin-bar.pleiadesmoon-front-page.has-header-image .custom-header-media,
	.admin-bar.pleiadesmoon-front-page.has-header-video .custom-header-media,
	.admin-bar.home.blog.has-header-image .custom-header-media,
	.admin-bar.home.blog.has-header-video .custom-header-media {
		height: calc(100vh - 32px);
	}
	.panel-content .wrap {
		padding-bottom: 4.5em;
		padding-top: 6em;
	}
	.panel-image {
		height: 100vh;
		max-height: 1200px;
	}
	/* With panel images 100% of the screen height, we're going to fix the background image where supported to create a parallax-like effect. */
	.background-fixed .panel-image {
		background-attachment: fixed;
	}
	.page-two-column .panel-content .entry-header {
		float: left;
		width: 36%;
	}
	.page-two-column .panel-content .entry-content {
		float: right;
		width: 58%;
	}
	/* Front Page - Recent Posts */
	.page-two-column .panel-content .recent-posts {
		clear: right;
		float: right;
		width: 58%;
	}
	.panel-content .recent-posts article {
		margin-bottom: 4em;
	}
	.panel-content .recent-posts .entry-header,
	.page-two-column #primary .panel-content .recent-posts .entry-header,
	.panel-content .recent-posts .entry-content,
	.page-two-column #primary .panel-content .recent-posts .entry-content {
		float: none;
		width: 100%;
	}
	.panel-content .recent-posts .entry-header {
		margin-bottom: 1.5em;
	}
	.page .panel-content .recent-posts .entry-title {
		font-size: 26px;
		font-size: 1.625rem;
	}

	// EL PROYECTO
	.fp-proyecto {
		.fp-proyecto-wrap {

		} //.fp-proyecto-wrap
	} //.fp-proyecto

	// NOTICIAS
	.fp-noticias {
		.fp-noticias-wrap {

		} //.fp-noticias-wrap
	} //.fp-noticias

		// TESTIMONIOS
	.fp-testimonios {
		.fp-testimonios-wrap {

		} //.fp-testimonios-wrap
	} //.fp-testimonios

	// EJECUTORES PROYECTO
	.fp-ejecutores {
		.fp-ejecutores-wrap {

		} //.fp-ejecutores-wrap
	} //.fp-ejecutores

	// INFORMACIÓN FINAL
	.fp-infofinal {
		.fp-infofinal-wrap {

		} //.fp-infofinal-wrap
	} //.fp-infofinal



} //breakpoint($laptop) 48em 768px


@include breakpoint($desktop) { //67em 1072px

	// EL PROYECTO
	.fp-proyecto {
		.fp-proyecto-wrap {

		} //.fp-proyecto-wrap
	} //.fp-proyecto

	// NOTICIAS
	.fp-noticias {
		.fp-noticias-wrap {

		} //.fp-noticias-wrap
	} //.fp-noticias

		// TESTIMONIOS
	.fp-testimonios {
		.fp-testimonios-wrap {

		} //.fp-testimonios-wrap
	} //.fp-testimonios

	// EJECUTORES PROYECTO
	.fp-ejecutores {
		.fp-ejecutores-wrap {

		} //.fp-ejecutores-wrap
	} //.fp-ejecutores

	// INFORMACIÓN FINAL
	.fp-infofinal {
		.fp-infofinal-wrap {

		} //.fp-infofinal-wrap
	} //.fp-infofinal

} // breakpoint($desktop) 67em 1072px


@include breakpoint($largedesk) { //79em 1264px

	// EL PROYECTO
	.fp-proyecto {
		.fp-proyecto-wrap {

		} //.fp-proyecto-wrap
	} //.fp-proyecto

	// NOTICIAS
	.fp-noticias {
		.fp-noticias-wrap {

		} //.fp-noticias-wrap
	} //.fp-noticias

		// TESTIMONIOS
	.fp-testimonios {
		.fp-testimonios-wrap {

		} //.fp-testimonios-wrap
	} //.fp-testimonios

	// EJECUTORES PROYECTO
	.fp-ejecutores {
		.fp-ejecutores-wrap {

		} //.fp-ejecutores-wrap
	} //.fp-ejecutores

	// INFORMACIÓN FINAL
	.fp-infofinal {
		.fp-infofinal-wrap {

		} //.fp-infofinal-wrap
	} //.fp-infofinal


} //breakpoint($largedesk) 79em 1264px




